	<div class="footer">
	<div class="hero-unit">
		
			<small>
					<%= link_to "about us", '#' %>
					<%= link_to "contact us", '#' %>
					<%= link_to "help", '#' %>
					<%= link_to "post your organization", '#' %>

					<h2>
						<small>
							Project name is your free inside look at patient groups and their services. Program details, organization reviews, and service evaluations - all posted anonymously by staff members and patients.</h2>
						</small>
	</div>
</div>			
